# Arithmatic operator

In [3]:
x = 5
y = 2
print('Add:',x+y)
print('sub:',x-y)
print('mul:',x*y)
print('mod:',x%y)
print('exp:',x**y)
print('floor div:',x//y)

Add: 7
sub: 3
mul: 10
mod: 1
exp: 25
floor div: 2

# Assignment operator

In [4]:

x = 5
y = 2

x = y
print('assign',x)

x+=y      #x = x+y   2+2=4
print('Add and assign:',x)

x-=y      #x = x-y   4-2=2
print('sub and assign:',x)

x*=y      #x = x*y   2*2=4
print('mul and assign:',x)

x/=y      #x = x/y   4/2=2
print('div and assign:',x)

x%=y      #x = x%y   2%2=0
print('md and assign:',x)

assign 2
Add and assign: 4
sub and assign: 2
mul and assign: 4
div and assign: 2.0
md and assign: 0.0

# Comparision Operators

In [5]:
x = 5
y = 5
print("less than: ", x<y)
print("GT than: ", x>y)

print("less than: ", x<=y)
print("GT than: ", x>=y)
print("equal to : ", x==y)
print("not equal to : ", x!=y)

less than:  False
GT than:  False
less than:  True
GT than:  True
equal to :  True
not equal to :  False

# logical operators

In [6]:
x = 15
y = 7

print(x>y and x<y)  # both statement true
print(x>y or x<y) # if 1 statement true result will be true
print(not(x>y and x<y))

False
True
True

# Bitwise operator

In [7]:
x = 12
y = 2

print('complement op:',~x)
print('bit and op:',x&y)
print('bit or op:',x|y)
print('bit xor op:',x^y)
print('left shift op:',x<<y)
print('right s op:',x>>y)

complement op: -13
bit and op: 0
bit or op: 14
bit xor op: 14
left shift op: 48
right s op: 3

# membership operators

In [8]:
x = ['python','Django']
print('Django' in x)
print('Django' not in x)

True
False

# Identity operators

In [9]:
x = 12
y = 12
print(x is y)
print(x == y)

print(x is not y)
print(x != y)

True
True
False
False

# condition

In [11]:
motu = 100
patlu = 5000
jhatka = 700
if(motu>patlu and motu>jhatka):
    print('Motu has gt than patlu jhatka')  #indentation error

elif(patlu>motu and patlu>jhatka):
    print('patlu has gt than motu & jhatka')

else:
    print('jhatka more than motu and patlu')

patlu has gt than motu & jhatka

# for loops

In [12]:
fruits = ['banana','apple','orange']
for fruit in fruits:
    if fruit == 'apple':
        continue
    print('Fruit name: ',fruit)
    print('Fruit length: ',len(fruit))

#range function
for i in range(2,100,2):
    print('This is your range:', i)

Fruit name:  banana
Fruit length:  6
Fruit name:  orange
Fruit length:  6
This is your range: 2
This is your range: 4
This is your range: 6
This is your range: 8
This is your range: 10
This is your range: 12
This is your range: 14
This is your range: 16
This is your range: 18
This is your range: 20
This is your range: 22
This is your range: 24
This is your range: 26
This is your range: 28
This is your range: 30
This is your range: 32
This is your range: 34
This is your range: 36
This is your range: 38
This is your range: 40
This is your range: 42
This is your range: 44
This is your range: 46
This is your range: 48
This is your range: 50
This is your range: 52
This is your range: 54
This is your range: 56
This is your range: 58
This is your range: 60
This is your range: 62
This is your range: 64
This is your range: 66
This is your range: 68
This is your range: 70
This is your range: 72
This is your range: 74
This is your range: 76
This is your range: 78
This is your range: 80
This is your range: 82
This is your range: 84
This is your range: 86
This is your range: 88
This is your range: 90
This is your range: 92
This is your range: 94
This is your range: 96
This is your range: 98

In [16]:

for num in range(70):
    if num%2 == 0:
        continue
    print('odd numbers are: ',num)

odd numbers are:  1
odd numbers are:  3
odd numbers are:  5
odd numbers are:  7
odd numbers are:  9
odd numbers are:  11
odd numbers are:  13
odd numbers are:  15
odd numbers are:  17
odd numbers are:  19
odd numbers are:  21
odd numbers are:  23
odd numbers are:  25
odd numbers are:  27
odd numbers are:  29
odd numbers are:  31
odd numbers are:  33
odd numbers are:  35
odd numbers are:  37
odd numbers are:  39
odd numbers are:  41
odd numbers are:  43
odd numbers are:  45
odd numbers are:  47
odd numbers are:  49
odd numbers are:  51
odd numbers are:  53
odd numbers are:  55
odd numbers are:  57
odd numbers are:  59
odd numbers are:  61
odd numbers are:  63
odd numbers are:  65
odd numbers are:  67
odd numbers are:  69

# while loop

In [17]:
i = 5
while i<15:
    i += 1
    if i == 10:
        continue
    print(i)


else:
    print('Invalid condition')

6
7
8
9
11
12
13
14
15
Invalid condition

# list

In [18]:
course = ['python',4,'Django',16,'ML',20,'DL',22]
print(course)
print(type(course))
print(len(course))

#access item
print('list item:',course[4])
print('list item:',course[-2])
print('Range', course[2:5])
print('Range', course[:5])
print('Range', course[2:])

#neg index range
print('Range', course[-2:-5])
print('Range', course[:-5])
print('Range', course[-2:])

#change value
course[1] = 33
print('New list', course)

#insert
course.insert(0,'Aiquest')
print('New insert list', course)

#append
course.append('Studymart')
print('append',course)

#remove
course.remove(20)
print('Remove',course)

#pop()
course.pop()
print('pop',course)

#del
del course[1]
print('del',course)

['python', 4, 'Django', 16, 'ML', 20, 'DL', 22]
<class 'list'>
8
list item: ML
list item: DL
Range ['Django', 16, 'ML']
Range ['python', 4, 'Django', 16, 'ML']
Range ['Django', 16, 'ML', 20, 'DL', 22]
Range []
Range ['python', 4, 'Django']
Range ['DL', 22]
New list ['python', 33, 'Django', 16, 'ML', 20, 'DL', 22]
New insert list ['Aiquest', 'python', 33, 'Django', 16, 'ML', 20, 'DL', 22]
append ['Aiquest', 'python', 33, 'Django', 16, 'ML', 20, 'DL', 22, 'Studymart']
Remove ['Aiquest', 'python', 33, 'Django', 16, 'ML', 'DL', 22, 'Studymart']
pop ['Aiquest', 'python', 33, 'Django', 16, 'ML', 'DL', 22]
del ['Aiquest', 33, 'Django', 16, 'ML', 'DL', 22]

# numeric sorting

In [19]:
numeric = [34,1,20,22,5,29]
numeric.sort()
print(numeric)

[1, 5, 20, 22, 29, 34]

# CRUD = CREATE,READ,UPDATE,DELETE

In [20]:
createList = ['5', '7', 'aiquest', 'Studymart']

while True:
    create_list = input("What do you want? Enter Choice : read / add / update / delete / quite: ")
    if create_list == "quite":
        print("You exist from program")
        break

#read your list
    elif create_list == 'read':
        print("Congratulations! This is your list: ",createList)

#add your list
    elif create_list == 'add':
        createList.append(input("Please add element to your list : "))
        print("This is your added list",createList)

#delete element from your list
    elif create_list == 'delete':
        dl = input("Enter deleted item: ",)
        if dl in createList:
            createList.remove(dl)
        else:
            print("Not matched item")
        print("This is your deleted list",createList)

# update element from your list
    elif create_list == 'update':
        up_wrong = input("Enter  wrong item: ", )
        up_right = input("Enter right item: ", )
        if up_wrong in createList:
            wr = createList.index(up_wrong)
            createList[wr] = up_right
        else:
            print("Not matched item")
        print("This is your updated list", createList)

#for right command
    else:
        print("Please enter right command.")

What do you want? Enter Choice : read / add / update / delete / quite: add
Please add element to your list : imran
This is your added list ['5', '7', 'aiquest', 'Studymart', 'imran']
What do you want? Enter Choice : read / add / update / delete / quite: quite
You exist from program